body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fae6f5;
  }
  
  header {
    text-align: center;
    font-family: 'Times New Roman', Times;
    background-color: #ffffff;
    padding: 16px;
    position: relative;
  }
  
  .social-icons {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .social-icons img {
    width: 20px;
    margin-right: 10px;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  .tagline {
    font-style: italic;
    color: #e67dd6;
    margin-top: 4px;
  }
  
  nav {
    background-color: #facfec;
    margin-top: 16px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    gap: 32px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .search {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #139eda;
    font-weight: bold;
  }
  
  .hero {
    position: relative;
  }
  
  .hero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    flex-wrap: wrap;
  }
  
  .hero-text {
    position: absolute;
    bottom: 190px;
    left: 70%;
    transform: translateX(-10%);
    background-color: #ffffffcc;
    padding: 1px 2px;
    border-radius: 5px;
  }
  
  .hero-text h1 {
    font-size: 24px;
    font-weight: 700;
  }
  
  .hero-text span {
    background: #47fdfd;
    align-items: center;
    padding: 0 6px;
  }
  
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    flex-wrap: wrap;
  }
  
  .about-img img {
    max-width: 300px;
    border-radius: 8px;
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .about-text .intro {
    font-style: italic;
    color: #888;
  }
  
  .about-text h2 {
    font-size: 28px;
    margin: 10px 0;
  }
  
  .biodata {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #47f4fd;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
  }
  
  .nim {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
  }
  
  footer {
    text-align: center;
    padding: 16px;
    background-color: hsl(323, 78%, 73%);
    font-size: 14px;
  }
  
